*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  margin-right: 15px;
}

.logo{
  color: black;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo:hover{
  color: rgb(243, 4, 4);
  text-decoration: none;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
